.table tbody tr td {
    font-weight: bold;
}
bg-danger{
    background: linear-gradient(45deg,darkslategray,red);
}
bg-warning{
    background: linear-gradient(45deg,darkslategray,orange);
}
bg-success{
    background: linear-gradient(45deg,darkslategray,limegreen);
}
bg-secondary{
    background: linear-gradient(45deg,darkslategray,purple);
}